<h1><%= restaurant.name %></h1>
<br>
<h3>Category: <%= restaurant.category.capitalize %></h3>
<br>
<h5>Address: <%= restaurant.address %></h5>
<br>
<h5>Phone: <%= restaurant.phone_number %></h5>
<br>
